
body 
{
background-color: skyblue;
}



h1
{
text-align: center;
background-color: transparent;
color: blue;
font-size: 70px;
}

h1 span
{
background-color: green;
}

p

{

font-family: Verdana;
font-style: italic;
font-size: 40px;
color: black;
width: 70%;
text-align: left;

}

img 
{
width: 20%;
height: auto;


}


.container {
    display: flex;               /* Utilisation de Flexbox pour aligner les éléments */
    justify-content: space-between; /* Espace entre le texte et l'image */
    align-items: center;         /* Alignement vertical des éléments */
    width: 100%;                 /* Utilisation de toute la largeur disponible */
    padding: 20px;               /* Un peu de padding autour pour ne pas coller aux bords */
    box-sizing: border-box;      /* Pour inclure le padding dans la largeur totale */
}

.button {
    position: fixed;  /* Fixe le bouton en bas de l'écran */
    bottom: 20px;  /* Décalage de 20px du bas */
    right: 20px;  /* Décalage de 20px du côté droit */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}









